<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar" style="padding: 0px; background-color: white;">
        <div class="container-fluid">
          <div class="navbar-header icons instalogo">
            <a class="navbar-brand" href="{% url 'main_page' %}"><i class="fab fa-instagram"></i></a>
            <a class="vl"></a>
            <a class="navbar-brand" href="{% url 'main_page' %}">Instagram</a>
          </div>
          <div class="searchbar">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}" >

              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Users" name="image">
                <!-- <a type="submit" href="{% url 'search_results' %}"><i class="fas fa-search"></i></a> -->
              </div>
            </form>
          </div>
          <div class="navbar-nav icons">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link likes" href="{% url 'main_page' %}"><i class="far fa-heart"></i></a>
              <a class="nav-item nav-link explore" href="{% url 'main_page' %}"><i class="far fa-compass"></i></a>
              <a class="nav-item nav-link profile" href="{% url 'profile' %}"><i class="far fa-user"></i></a>
              <a class="nav-item nav-link post" href="{%url 'new-post'%}"><i class="fas fa-plus-circle"></i>Post</a>
            
              <a class="nav-item nav-link logout" href="{% url 'logout' %}">Log Out</a>
            {% endif %}
          </div>
        </div>
      </nav>
      </div>
</body>
</html>