{%extends 'instagram/base.html'%} 
{% load bootstrap4 %}
{% block content %}
<div class="container" style="margin: 40px; padding: 20px;">
<div class="container search">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} images posted by {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <a href='{% url "main_page" %}'><h1>{{image.author}}</h1></a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
</div>
{% endblock %}